<style>
	#jtron{
		background-image: url(<%= getImageByCode("02") == false ? image_url('bg.jpg') : getImageByCode("02") %>);
		background-size:cover;

	}
</style>

<div class="jumbotron" id="jtron">

	<div class="container">
<!--
		<h1>Hello, world!</h1>
		<p>...</p>
		<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
-->
		<div class="text-center">
			<h2 style="text-shadow: 1px 1px 3px #fff;">ようこそ <%=session[:user_name]%> 様</h2>
			<%= image_tag 'dummy_person.jpg', class:"img-circle img-thumbnail", size:"100x100" %>
		</div>
	</div>
</div>

<div class="container">
	<h3><%= t('today_sale_info') %></h3>
	<p>
	11月10日（木）からドトールコーヒーショップで、
	ローストビーフのミラノサンドやモーニング、新作ドリンクなどを発売します。

	【商品名】贅沢ミラノサンド　炭焼ローストビーフ
          〜特製バルサミコソース〜
	【価格】490円（税込）　
 
	やわらかい食感の炭焼ローストビーフを使用した限定ミラノサンド。
	今冬はローストビーフの美味しさを引き出すため、隠し味にわさびの風味をプラスし、
	特製レフォールマッシュポテトを合わせました。
	ローストビーフのうまみを一層引き立てる特製バルサミコソースを使用しています。
	さらに彩りと食感、香りのアクセントにクレソンをトッピングし、
	さながらオードブルのような贅沢感を演出しています。 
	</p>
	<h3><%= t('news') %> <span class="badge">3</span></h3>
	<p>
	(株)ドトールコーヒー（本社：東京都渋谷区／代表取締役社長：鳥羽 豊）は、
	2016 年10 月1 日（土）〜10 月31 日（月）の期間、
	ドトールコーヒーショップのハウスプリペイドカード〈ドトール バリューカード〉のご利用で
	発売前のプレミアムコーヒーがもらえる「使って当たるキャンペーン」
	（詳細：http://goo.gl/8S2eNl ）を開催いたします。


	〈キャンペーン概要〉
	お客様がドトール バリューカードを使って、220円以上のお買い物（会計）をしていただくと、
	5回ごとに一口の応募となるキャンペーンです。
	プレゼントは、発売前のプレミアムマイルドブレンド（ドリップカフェ5袋入）で、抽選で1,000名様に当たります。
	</p>
</div>
